<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
<<<<<<< HEAD:views/partials/personality.handlebars
        <h5 class="card-title">{{persId}}</h5>
        {{#each personality-images }}
        <img style="width: 300px" value={{persId}} src={{pers_url}} alt={{alt}}>
        {{/each}}
=======
        <h5 class="card-title"></h5>
    <img src="{{image_url}}" alt="">
>>>>>>> main:views/personality.handlebars
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>